
.m-t-10{
    margin-top: 10px !important;
 }

.m-r-10{
  margin-right: 10px !important;
}

.m-t-20{
  margin-top: 20px !important;
}

.p-t-5{
  padding-top: 5px;
}

.m-t-30{
  margin-top: 30px !important;
}

.m-b-30{
  margin-bottom: 30px;
}

.m-b-0{
  margin-bottom: 0px;
}

.m-l-10{
  margin-left: 10px;
}

.padding-zero{
  padding: 0px !important;
}

.pre-button-img{
    height: 15px;
    margin-top: -3px;
    margin-right: 10px;
}

.next-button-img{
    height: 15px;
    margin-top: -3px;
    margin-left: 10px;
}

.p-r-0{
  padding-right: 0px !important;
}

.p-l-0{
  padding-left: 0px !important;
}

.p-l-20{
  padding-left: 20px;
}

.p-t-10{
  padding-top: 10px;
}

.font-size-12{
  font-size: 12px;
}

.font-size-16{
  font-size: 16px;
}

.color-gray{
  color: $gray ;
}
  
.red-btn{
  @extend .btn;
  @extend .btn-danger;
  min-width: 150px;

  &:hover{
    color: $light-gray;
    box-shadow: none;
  }
  i{
    font-size: 18px;
    margin-right: 10px;
    vertical-align: middle;
  }
}
  
.modal-header{
  background: $themeRed;
  color: $white;
  font-size: 18px;
}

.color-red{
  color: $themeRed;
}

.color-black{
  color: $darkgray;
}

.color-gray{
  color: $dim-gray;
}

.spinner{
  position: absolute; 
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
    .spinner-img{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
}